ShowTemp/ShowTemp/Connected Services/tempService/wsAdd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTempValues">
        <s:complexType />
      </s:element>
      <s:element name="GetTempValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTempValuesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTempValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTempValues" />
  </wsdl:message>
  <wsdl:message name="GetTempValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTempValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAddSoap">
    <wsdl:operation name="GetTempValues">
      <wsdl:input message="tns:GetTempValuesSoapIn" />
      <wsdl:output message="tns:GetTempValuesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAddSoap" type="tns:wsAddSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempValues">
      <soap:operation soapAction="http://tempuri.org/GetTempValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAddSoap12" type="tns:wsAddSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempValues">
      <soap12:operation soapAction="http://tempuri.org/GetTempValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAdd">
    <wsdl:port name="wsAddSoap" binding="tns:wsAddSoap">
      <soap:address location="https://localhost:44345/wsAdd.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAddSoap12" binding="tns:wsAddSoap12">
      <soap12:address location="https://localhost:44345/wsAdd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>